*{
    margin: 0px;
    padding: 0px;
}
/*--------------------------------------------------------------HEADER----------------------------------------------------------------------*/

.contenairarticles
{
    width: 100%;
    height: 100vh;
    display: flex;

}

.cotegauche
{
    width: 30%;
    height: 100vh;
  background-color: rgb(84, 156, 214);
  border-radius: 2%;
  
}

.formulaire
{
    width: 70%;
    height: 100vh;
    
   
}

.boxcontenairadminprofil
{
    width: 95%;
    height: 50px;
    margin-right: 5%;
    display: flex;
    justify-content: end;
}

.adminname
{
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    margin-top: 1%;
}

.boxcontenairadminprofil img
{
    width: 50px;
    height: 50px;
    margin-top: 15%;

   
}

.formbox
{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    
    
}

form
{
    margin-bottom: 8%;
}
#boutton_add
{
    width: 100%;
    height: 40px;
    color: white;
    background-color: black;
}
.gestionarticlesform
{
    width: 400px;
    height: 400px;
    
    
}

input
{
    width: 100%;
    height: 20px;
}

#story
{
    width: 100%;
    
}

.titre
{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: rgb(8, 151, 218);
}

.titrebooks
{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    color: white;


}
    h1
    {
        margin-top: 15%;
        font-size: 50px;
    }

.bouton
{
    width: 100%;
    height: 10px;
    gap: 2%;
   
}

.gestionarticle
{
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
  
}

.gestionventes
{
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.boxdeco
{
    width: 100%;
    height: 50PX;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

#deconnect
{
    width: 100px;
    height: 20px;
    background-color: black;
    color: white;
}

a
{
    text-decoration: none;
    color: black;
}

a:hover
{
    color: white;
}