*{
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
}
/*--------------------------------------------------------------HEADER----------------------------------------------------------------------*/

.contenairarticles
{
    width: 100%;
    height: 100%;
    display: flex;

}

.cotegauche
{
    width: 30%;
    height: 900px;
    background-color: rgb(91, 171, 247);
    border-radius: 2%;
  
}

.formulaire
{
    width: 70%;
    height: 100vh;
    margin-top: 2%;
   
    scrollbar-width: auto;
    
   
}

.boxcontenairadminprofil
{
    width: 95%;
    height: 50px;
    margin-right: 5%;
    display: flex;
    justify-content: end;
}

.adminname
{
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    margin-top: 1%;
    font-size: 15px;
}

.boxcontenairadminprofil img
{
    width: 30px;
    
    margin-top: 15%;

   
}

.formbox
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5%;
   
    
    
    
    
}

#sizeinput
{
    margin-bottom: 2%;
}
textarea {
    resize : none;
   }

form
{
    margin-bottom: 23%;
    margin-top: 3%;
    border: 1px solid rgba(114, 114, 114, 0.185);
    padding: 2%;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.068);
   

}
#boutton_add
{
    width: 100%;
    height: 40px;
    color: white;
    background-color: rgb(68, 154, 235);
}
.gestionarticlesform
{
    width: 400px;
    height: 400px;
   
  
    
    
}

input
{
    width: 100%;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10px;
    
}

#story
{
    width: 100%;
    
}

.titre
{
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: rgb(8, 151, 218);
   
    margin-top: 5%;
   
}
.titre h2
{
    font-size: 15px;
    width: 50%;
}
.titrebooks
{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    color: white;


}
    h1
    {
        margin-top: 15%;
        font-size: 40px;
    }

.bouton
{
    width: 100%;
    height: 10px;
    gap: 2%;
   
}

.gestionarticle
{
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
    
  
}

.gestionventes
{
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.boxdeco
{
    width: 100%;
    height: 50PX;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

#deconnect
{
    width: 100px;
    height: 20px;
    background-color: black;
    color: white;
}

a
{
    text-decoration: none;
    color: black;
}

#voirlesite
{
   visibility: hidden;
}

.deconnec
{
    visibility: hidden;
}

@media screen and (max-width: 769px)
{
    .contenairarticles
{
    width: 100%;
    height: 100%;
   
}

.cotegauche
{
    width: 30%;
    height: 100vh;
  background-color: rgb(84, 156, 214);
  border-radius: 2%;
  display: none;
  
}

.formulaire
{
    width: 90%;
    height: auto;
   
   margin-left: 5%;
   
}

.formbox
{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
 
    margin-left: 10%;
   
    
}

form
{
    
  
    border: 1px solid rgba(114, 114, 114, 0.185);
    padding: 10%;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.068);
    height: 50%;
   

}



.titre h2
{
    font-size: 10px;
    width: 50%;
   
    
}

input 
{
    width: 100%;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10px;
    margin-bottom: 5%;
    
}

.adminname
{
    display: flex;
    width: auto;
    height: 50px;
    align-items: center;
    margin-top: 1%;
   
    font-size: 8px;
}

.boxcontenairadminprofil img
{
    width: 20px;
    height: 25px;
    margin-top: 10%;

   
}

label
{
    font-size: 10px;
}

#voirlesite
{
    visibility: visible;
    width: 60px;
    height: 10px;
    
    font-size: 4px;
    

}

.deconnec button
{
    visibility: visible;
    width: 50px;
    height: 10px;
    
    font-size: 4px;
    background-color: rgba(88, 143, 245, 0.404);
}

#sizeinput
{
    font-size: 10px;
}

#boutton_add
{
    margin-top: 5%;
    position: fixed;
    bottom: 0px;
    right: 0px; 
}
  
    
}