*{
    margin: 0px;
    padding: 0px;
}
/*--------------------------------------------------------------HEADER----------------------------------------------------------------------*/
section
{
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;

}

/*-------------------------------------------------------------contents----------------------------------------------------------------*/
/*contenair pour la section des articles*/
.body
{
    width: 90%;
    height: 800px;
    background-color: rgb(41, 40, 40);
    margin-left: 5%;
}




/*----------------------------------------------------------------FOOTER----------------------------------------------------------------*/

footer
{
    width: 100%;
    height: 400px;
    background-color: rgb(31, 26, 26);
}