*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}




header
{
    width: 100%;
   
   
}

.blockGlobal
{
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: start;
    margin-left: 2%;
}

.blockContenair
{
 width: 95%;
 height: 100px;
 display: flex;
 justify-content: space-between;
 
}

.title
{
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
   
   margin-right: 15%;

}

.title h1
{
    font-size: 75px;
    color: rgb(26, 137, 241);
}

.search
{
    width: 45%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15%;
    
    
}

input
{
    border: 1px solid rgba(0, 0, 0, 0.174);
    border-radius: 35px;

}

img
{
    width: 30px;
    height: 30px;
    margin-top: 2%;
}

button
{
    background-color: white;
    border: none;
}

.useravatar
{
    margin-right: 6%;
    width: 20%;
    height: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    
    

}

.avatarname
{
    
    margin-top: 2%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
   
}

.nav-link dropdown-toggle
{
    margin-left: 5%;
    margin-right: 5%;
}

.avatarname p
{
    
    margin-top: 45%;
}
.deco
{
    margin-top: 2%;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
  

}

#deconnect
{
    background-color: white;
    border: none;
    cursor: pointer;
    
}



section
{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    
}

a
{
    text-decoration: none;
    font-style: bold;
    color: black;
    border-bottom: white;
}

a:hover
{
    border-bottom: rgb(10, 10, 10);
}

/*------------*/
/*slide categories */

nav {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
   
    
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
    margin-left: 6.5%;
}

nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
}

nav ul li:hover ul {
    display: block;
    position: absolute;
    z-index: 1;
}


nav ul li ul li {
    display: block;
}

nav ul li ul li a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #333;
}

#tesa:hover
{
    color: white;
    background-color: rgb(127, 196, 252);
}

.btn btn-outline-success
{
    color: #e61717;
}


.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #fff !important;

}

.d-flex {
    display: flex!important;
    margin-right: 5%;
    
}




@media screen and (max-width: 769px)
{



header
{
    width: 100%;
   
}

.blockGlobal
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
    
}

.blockContenair
{
 width: 100%;
 height: 50px;
 display: flex;
 justify-content: start;

 
}

.search
{
    width: 60%;
    height: 20px;
   
    display: flex;
    align-items: center;
    justify-content: center;
}



.title
{
    width: 20%;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
 
  

}

.title h1
{
    font-size: 15px;
    color: rgb(26, 137, 241);
    margin-left: 5%;
}

.search
{
    width: 45%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#barrederecherche input 
{
width: 50%;
border: 1px solid rgba(0, 0, 0, 0.174);
border-radius: 35px;
margin-bottom: 1%;


}

input
{
    border-top: none;
    border-right: none;

}

img
{
    width: 30px;
   
    margin-top: 2%;
}

button
{
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.useravatar
{
    margin-right: 5%;
    width: 40%;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-around;
   
    

}

.search ::placeholder
{
    font-size: 10px;
}


.avatarname
{
    
    margin-top: 2%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
   
}

.avatarname p
{
    margin-left: 2%;
    font-size: 8px;
    margin-top: 50%;
}

.deco
{
    margin-top: 2%;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
   
  

}

#deconnect
{
    background-color: white;
    border: none;
    cursor: pointer;
    
}



section
{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    
}

a
{
    text-decoration: none;
    font-style: bold;
    color: black;
    border-bottom: white;
}

a:hover
{
    border-bottom: rgb(10, 10, 10);
}

/*------------*/
/*slide categories */

nav {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
   
    
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
    margin-left: 6.5%;
}

nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-size: 10px;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
}

nav ul li:hover ul {
    display: block;
    position: absolute;
    z-index: 1;
}


nav ul li ul li {
    display: block;
}

nav ul li ul li a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #333;
}

#tesa:hover
{
    color: white;
    background-color: rgb(127, 196, 252);
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl
{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: end;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #fff !important;

}




}