* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    
}
.box
{
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top: 2%;
    
}
.contenair
{
    width: 750px;
    height: 600px;
   /*border: 1px solid red;*/
    margin-top: 1%;
    display: flex;
    margin-left: 5%;
   
}

.image
{
    width: 400px;
    height: 550px;
    
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px rgb(179, 176, 176);
    
}

.image img 
{
    width: 400px;
    height: 550px;
}

.boxinfo
{
    width: 200px;
    height: 500px; 
    /*border: 1px solid green;*/
    margin-left: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.stars .rate 
{
    width: 100%;
    height: 30px;
   

}

.stars .rate i
{
    border: 1px solid black;
}




.readme
{
    width: 50%;
    height: auto;
    /*border: 1px solid yellow;;*/
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.summ
{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1%;
  
    
    
    
}

.summarytext
{
    margin-right: 5%;
}

.titre
{
    font-size: 40px;
   margin-bottom: 3%;
   font-style: bold;
}

.fleche
{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.fleche img
{
    width: 20px;
    height: 20px;
    cursor: pointer;
   
}

small
{
    color: rgba(97, 95, 95, 0.363);
}

summary
{
    color: white;
}



@media screen and (max-width: 769px)
{

.box
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    
}

.contenair
{
    width: 95%;
    height: auto;
   /*border: 1px solid red;*/
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: 2%;
    margin-right: 2%;
    
    
    
   
}

.image
{
    width: 95%;
    height: 450px;
    display: flex;
    flex-direction: column;
    
    
    
}

.image img 
{
    width: 100%;
    margin-left: 2%;
    height: 98%;
    
}

.boxinfo
{
    width: 80%;
    height: 10%; 
    /*border: 1px solid green;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
    
}

button
{
    margin-left: 30%;
}

.readme
{
    width: 100%;
    height: auto;
    /*border: 1px solid yellow;;*/
   
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.summ
{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2%;
    margin-left: 2%;
   
    
    
    
}

.titre
{
    font-size: 20px;
   margin-bottom: 3%;
   font-style: bold;
}

p 
{
    font-size: 8px;
}

.fleche
{
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    
}

.fleche img
{
    width: 100%;
    cursor: pointer;
   
}

summary
{
    color: white;
}


}



